$scale: 0.5;
$pot_w: 250;
$pot_h: 150;
$pot_size: (calc($pot_w * $scale) + px) (calc($pot_h * $scale) + px);
$pot_border_radius: calc(30px * $scale);
$pot_border_size: calc(10px * $scale);
$top_pot_height: calc(10px * $scale);
$space_for_ball: calc($pot_w * $scale) calc($pot_h * $scale);

$total_duration: 3s;

$ball_size: calc(calc(random(20) + 10) * $scale) + px;
$sin: calc((random(400) - 100) / 100);

$fire_size: calc(30px * $scale) calc(50px * $scale);

@mixin grad{
    background: linear-gradient(180deg, $second_color 0%, $first_color 100%);
}

$bg_color: rgba(0, 0, 0, 0.7);
$preloader_main_color: preloader_color($bg_color);

.preloader{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: $bg_color;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 5;

    animation-name: preloader_bg;
    animation-duration: $total_duration;

    animation-fill-mode: forwards;
    animation-timing-function:ease-in-out;


}

.pot{
    width: nth($pot_size, 1);
    height: nth($pot_size, 2);
    border-bottom-right-radius: $pot_border_radius;
    border-bottom-left-radius: $pot_border_radius;
    position: relative;

    animation-name: pot;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    transform-origin:50% 0%;
    animation-timing-function:ease-in-out;
    

    &__top{  // top part of the pot
        position: absolute;
        top: - calc($top_pot_height + ($pot_border_size * 2));
        left: -5%;
        height: $top_pot_height;
        width: calc(110% - ($pot_border_size * 2));
        border: solid $pot_border_size $preloader_main_color;
        border-bottom: none;
        z-index: 11;

        &::before{
            
            bottom: -500%;
            left: -18.5%;
            clip-path: inset(0 0 50% 70%);
            content: '';
            position: absolute;
            width: 15.5%;
            height: 400%;
            border: $pot_border_size solid $preloader_main_color;
            border-radius: 25%;
            z-index: 1;
        }

        &::after{
            
            bottom: -500%;
            right: -18.5%;
            clip-path: inset(0 70% 50% 0);
            content: '';
            position: absolute;
            width: 15.5%;
            height: 400%;
            border: $pot_border_size solid $preloader_main_color;
            border-radius: 25%;
            z-index: 1;
        }
    }
}


.ball{
    position: absolute;
    @include grad;
    position:absolute;
    animation: upDown 1.5s alternate infinite ease-in-out;

    @for $i from 1 through 5 {
        &--#{$i} {
            $ball_size: calc(calc(random(20) + 10) * $scale) + px;
            $tail2: random(nth($space_for_ball, 1)) + px;
            border-radius: calc($ball_size / 2);
            height: $ball_size;
            width: $ball_size;
            top: 0;
            left: 0;
            // animation-duration: calc(random(7) * $i) + s;
        }
    }
}

.ball_cont{
    position:absolute;
    left:0;
    top: 20%;
    width:10%;
    height: 10%;
    animation: translate 2s infinite linear;
    z-index: 10;
    opacity: 0;

    @for $i from 1 through 5 {
        &--#{$i} {
            $temp: random(nth($space_for_ball, 1) - 50%) + px;
            left: calc($temp);
            animation-delay: calc(random(3) * $i * 0.1) + s;
            animation-duration: calc((random(10) * 0.1) + 1.5) + s;
        }
    }
}

@keyframes upDown {
    to {

        transform: translateX(calc($ball_size * $sin));}
  }
  @keyframes translate {
    0%{opacity: 0;

    }
    15%{opacity: 0;

    }
    50%{
        opacity: 1; 
    }
    100% { transform: translateY(-1500%);
        opacity: 0;
    }
  }





@keyframes preloader_bg {
    0%{
        opacity: 1;
        transform: scale(1);
    }
    75%{
        opacity: 1; 
        transform: scale(1);
    }

    99%{
        opacity: 0;
        transform: scale(1);
        
    }
    100%{
        opacity: 0;
        transform: scale(0);
    }
}

@keyframes pot{
    0%   { -webkit-transform: rotate(15deg) translateX(-25%); }
    100% { -webkit-transform: rotate(-15deg) translateX(25%); }
}


.waves {
    position: relative;
    overflow: hidden;
    width: calc(nth($pot_size, 1) - ($pot_border_size * 2));
    height: calc(nth($pot_size, 2) - ($pot_border_size * 2));
    border-bottom-right-radius: calc($pot_border_radius * 0.83);
    border-bottom-left-radius:  calc($pot_border_radius * 0.83);
    border: solid $top_pot_height $preloader_main_color;
    border-top: none;
   
}

.wave1, .wave2{
    position: absolute;
    width: 365%;
    height: 600%;
}

 .wave2{
    left: -130%;
    top: 40%;
    // background-color: #57d0ff;  /*окрашиваем блок*/
    @include grad;
    border-radius: 40%;  /*закругляем углы*/
    animation: wave 8s linear infinite; /*добавляем анимацию*/
}

@keyframes wave {
    100% {
       transform: rotate(360deg);
    }
}

.panhandle{
    position: absolute;
    width: calc($pot_border_size * 3);
    height: $pot_border_size;
    background-color: $preloader_main_color;
    top:0;
    z-index: 5;

    &--left{
        left: - calc(($pot_border_size * 3) - 1px);
        transform: skew(10deg) rotate(10deg);
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        
    }
    &--right{
        right: - calc(($pot_border_size * 3) - 1px);
        transform: skew(-10deg) rotate(-10deg);
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
    }
}

.fire{
    width: nth($fire_size, 1);
    height: nth($fire_size, 2);
    margin: calc($pot_border_size / 2);
   
    @include grad;
    

    &--1{
        animation: left_fire 1s ease-in-out both infinite  alternate;
        border-top-right-radius:  nth($fire_size, 2);
        border-bottom-left-radius:  nth($fire_size, 2);
        transform-origin: bottom center;
        animation-delay: 0.3s;
        

    }
    &--2{
        animation: center_fire 1s ease-in-out both infinite  alternate;
        border-top-left-radius:  nth($fire_size, 2);
        border-bottom-right-radius:  nth($fire_size, 2);
        transform-origin: bottom center;
        margin-left: 3%;
        margin-right: -5%;
        
    }
    &--3{
        animation: right_fire 1s ease-in-out both infinite  alternate;
        
        border-top-left-radius:  nth($fire_size, 2);
        border-bottom-right-radius:  nth($fire_size, 2);
        transform-origin: bottom center;
        animation-delay: 0.2s;
    }

    @for $i from 1 to 3 {
        &--#{$i}{
            
        }
    }
    &_cont{
        justify-content: center;
        width: nth($pot_size, 1);
        height: calc(nth($pot_size, 2) / 2);
        margin-top: 2%;
    }
}

@keyframes left_fire{
    0%{
        transform: scaleY(0.8) rotate(0);
    }
    100%{
        transform: scaleY(1.5) rotate(-10deg);

    }
}

@keyframes right_fire{
    0%{
        transform: scaleY(0.8) rotate(0);
    }
    100%{
        transform: scaleY(1.5) rotate(10deg);

    }
}

@keyframes center_fire{
    0%{
        transform: scaleY(1.2) rotate(-25deg);
        
    }
    100%{
        transform: scaleY(1.7) rotate(-25deg);

    }
}

