@charset "UTF-8";
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.flex {
  display: flex;
}

.inline_block {
  display: inline-block;
}

html, body {
  height: 100%;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 62.5%;
}

h1, h2 {
  font-family: "Roboto", sans-serif;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 3rem;
}

.center_text {
  text-align: center;
}

a {
  text-decoration: none;
  color: #000000;
}
a:active {
  color: #4d4d4d;
}

.main_button {
  font-size: 1.6rem;
  font-weight: bold;
  margin-top: 24px;
  margin-bottom: 24px;
  border-radius: 25px;
  color: #ffffff;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
  background: linear-gradient(180deg, #FF79DA 0%, #9356DC 100%);
  border: none;
  min-width: 186px;
  margin-left: auto;
  margin-right: auto;
  transition: transform 0.1s ease-in-out;
}
.main_button:hover {
  transform: scale(1.1);
}
.main_button a {
  display: block;
  color: #ffffff;
  height: 50px;
  padding-right: 22px;
  padding-left: 22px;
  line-height: 50px;
  border-radius: 25px;
}

.heart {
  position: absolute;
  font-size: 2rem;
  right: 20px;
  top: 18px;
  padding: 5px;
  display: block;
}
.heart--menu {
  font-size: 2.5rem;
  top: 35px;
}
.heart.like {
  background: linear-gradient(180deg, #9356DC 0%, #FF79DA 100%);
  text-transform: uppercase;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #0B2349;
  opacity: 1;
}
.heart.like:hover {
  animation: puls 0.4s ease-in-out both infinite;
  cursor: pointer;
}
.heart.normal {
  color: #000000;
  opacity: 1;
}
.heart.normal.white_bg {
  background-color: #ffffff;
}
.heart.normal.grey_bg {
  background-color: #f6f6f6;
}
.heart.normal:hover {
  cursor: pointer;
  animation: puls 0.4s ease-in-out both infinite;
}
.heart.normal:active {
  opacity: 0;
}

@keyframes puls {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes grand {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}
.preloader {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: black;
  justify-content: center;
  align-items: center;
  animation: preloader_bg 3s ease-in-out forwards infinite;
  z-index: 5;
}

.pot {
  width: 250px;
  height: 150px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
}

.pot {
  position: relative;
  animation-name: pot;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  transform-origin: 50% 0%;
  animation-timing-function: ease-in-out;
}
.pot__top {
  position: absolute;
  top: -30px;
  left: -5%;
  height: 10px;
  width: calc(110% - 20px);
  border: solid 10px #ffffff;
  border-bottom: none;
}
.pot__top::before {
  bottom: -50px;
  left: -48px;
  clip: rect(auto, auto, 20px, 40px);
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  border: 10px solid #ffffff;
  border-radius: 25%;
  z-index: 1;
}
.pot__top::after {
  bottom: -50px;
  right: -47px;
  clip: rect(auto, 20px, 40px, auto);
  border-color: #fff;
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  border: 10px solid #ffffff;
  border-radius: 25%;
  z-index: 1;
}

.ball {
  position: absolute;
  background-color: #ffffff;
  width: 20px;
  height: 25px;
  border-radius: 12px;
  position: absolute;
  animation: upDown 1.5s alternate infinite ease-in-out;
  width: 100%;
}
.ball--1 {
  border-radius: calc(17px / 2);
  height: 17px;
  width: 17px;
  top: 0;
  left: 31px;
  animation-duration: 2s;
}
.ball--2 {
  border-radius: calc(14px / 2);
  height: 14px;
  width: 14px;
  top: 0;
  left: 122px;
  animation-duration: 2s;
}
.ball--3 {
  border-radius: calc(25px / 2);
  height: 25px;
  width: 25px;
  top: 0;
  left: 40px;
  animation-duration: 15s;
}
.ball--4 {
  border-radius: calc(27px / 2);
  height: 27px;
  width: 27px;
  top: 0;
  left: 144px;
  animation-duration: 4s;
}
.ball--5 {
  border-radius: calc(30px / 2);
  height: 30px;
  width: 30px;
  top: 0;
  left: 148px;
  animation-duration: 15s;
}

.ball_cont {
  position: absolute;
  left: 0;
  top: 0;
  width: 10%;
  height: 10%;
  animation: translate 2s infinite linear;
  z-index: 10;
}

@keyframes upDown {
  to {
    transform: translateX(70px);
  }
}
@keyframes translate {
  to {
    transform: translateY(-1500%);
    opacity: 0;
  }
}
@keyframes preloader_bg {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  75% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes pot {
  0% {
    -webkit-transform: rotate(15deg) translateX(-50px);
  }
  100% {
    -webkit-transform: rotate(-15deg) translateX(50px);
  }
}
@keyframes ball {
  0% {
    transform: scale(1) translateY(0);
    opacity: 0.15;
  }
  100% {
    transform: scale(2) translateY(-100px);
    opacity: 0;
  }
}
.waves {
  position: relative;
  overflow: hidden;
  width: 230px;
  height: 140px;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border: solid 10px #ffffff;
  border-top: none;
}

.wave1, .wave2 {
  position: absolute;
  width: 365%;
  height: 600%;
}

.wave1 {
  left: 20%;
  /*определяем положение блока*/
  top: 32%;
  background-color: #a0e9ff;
  /*окрашиваем блок*/
  border-radius: 45%;
  /*закругляем углы*/
}

.wave2 {
  left: -130%;
  /*определяем положение блока*/
  top: 30%;
  background: linear-gradient(180deg, #FF79DA 0%, #9356DC 100%);
  border-radius: 40%;
  /*закругляем углы*/
  animation: wave 8s linear infinite;
  /*добавляем анимацию*/
}

@keyframes wave {
  100% {
    transform: rotate(360deg);
  }
}
.panhandle {
  position: absolute;
  width: 30px;
  height: 10px;
  background-color: #ffffff;
  top: 0;
  z-index: 5;
}
.panhandle--left {
  left: -29px;
  transform: skew(10deg) rotate(10deg);
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.panhandle--right {
  right: -29px;
  transform: skew(-10deg) rotate(-10deg);
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.header {
  padding: 0 20px;
  justify-content: center;
  align-items: center;
  padding-top: 22px;
  padding-bottom: 12px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 2;
  background-color: #ffffff;
}
.header__logo {
  background-image: url("../img/logo/ohmyfood.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 165px;
  height: 30px;
  position: relative;
}
.header__logo a {
  display: inline-block;
  width: 100%;
  height: 100%;
}
.header__back {
  position: absolute;
  left: 20px;
  height: 30px;
  display: flex;
  align-items: center;
}
.header__back i {
  font-size: 2.2rem;
}

.footer {
  padding: 0 20px;
  flex-direction: column;
  background-color: #353535;
  padding-top: 22px;
  padding-bottom: 22px;
  color: #ffffff;
}
.footer__logo {
  font-family: "Shrikhand", cursive;
  color: #ffffff;
  font-size: 20px;
  margin-bottom: 12px;
}
.footer a {
  color: #ffffff;
}
.footer li {
  list-style-type: none;
  line-height: 28px;
  font-size: 1.6rem;
  font-weight: 600;
}
.footer li a i {
  margin-right: 10px;
}

.header2 {
  background-color: #f6f6f6;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 28px;
}
.header2__sity_point {
  background-color: #dddddd;
  font-size: 1.6rem;
  font-weight: 600;
  color: #353535;
  justify-content: center;
  align-items: center;
  padding-top: 12px;
  padding-bottom: 12px;
  width: 100%;
  margin-bottom: 22px;
}
.header2__sity_point i {
  margin-right: 18px;
}
.header2 .slogan {
  font-family: "Roboto", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  padding: 0 20px;
}

.howitwork {
  padding: 0 20px;
  padding-top: 34px;
  padding-bottom: 34px;
}
.howitwork__list {
  flex-direction: column;
  list-style-position: outside;
}
.howitwork__list li {
  color: #000000;
  height: 74px;
  background-color: #f6f6f6;
  border-radius: 17px;
  width: calc(100% - 12px - 34px);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom: 24px;
  margin-left: 12px;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 34px;
}
.howitwork__list li:hover::after {
  transform: scale(1.1);
}
.howitwork__list li::after {
  width: 24px;
  height: 24px;
  border-radius: 12px;
  background-color: #9356DC;
  position: absolute;
  z-index: 1;
  left: -12px;
  top: 25px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.1s ease-in-out;
}
.howitwork__list li span {
  display: inline-block;
}
.howitwork__list li i {
  color: #7e7e7e;
  margin-right: 23px;
}
.howitwork__list li:hover, .howitwork__list li.active {
  background-color: #f5edff;
}
.howitwork__list li:hover i, .howitwork__list li.active i {
  color: #9356DC;
}
.howitwork__list li:nth-child(1)::after {
  content: "1";
}
.howitwork__list li:nth-child(2)::after {
  content: "2";
}
.howitwork__list li:nth-child(3)::after {
  content: "3";
}
.howitwork__list li:nth-child(4)::after {
  content: "4";
}

.rest {
  background-color: #f6f6f6;
  padding: 0 20px;
  padding-bottom: 40px;
  padding-top: 30px;
}
.rest__card {
  width: 100%;
  border-radius: 14px;
  overflow: hidden;
  background-color: #ffffff;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 18px;
  position: relative;
}
.rest__card img {
  width: 100%;
  height: 174px;
  object-fit: cover;
}
.rest__card figcaption {
  padding: 10px 14px 10px 14px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: relative;
}

.new {
  font-size: 1.4rem;
  font-weight: normal;
  position: absolute;
  z-index: 1;
  right: 12px;
  top: 12px;
  color: #1b6150;
  height: 29px;
  background-color: #99E2D0;
  padding-left: 13px;
  padding-right: 13px;
  border-radius: 3px;
  justify-content: center;
  align-items: center;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
}
.new.disable {
  display: none;
}
.new a {
  color: #1b6150;
}

.name {
  font-size: 1.7rem;
  font-weight: bold;
  line-height: 26px;
}

.desc {
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 26px;
}

.menu__bg {
  background-size: 480px auto;
  background-position-x: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.menu__bg--1 {
  background-image: url("../img/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
}
.menu__bg--2 {
  background-image: url("../img/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
}
.menu__bg--3 {
  background-image: url("../img/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
}
.menu__bg--4 {
  background-image: url("../img/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
}
.menu__img_space {
  height: 220px;
  width: 100%;
}
.menu__list {
  background-color: #f6f6f6;
  border-radius: 42px;
  min-height: 800px;
  padding: 0 20px;
  padding-top: 20px;
  padding-bottom: 45px;
  position: relative;
}
.menu__h1 {
  font-size: 3rem;
  font-family: "Shrikhand", cursive;
}
.menu__h2 {
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: normal;
  margin-bottom: 25px;
  padding-top: 25px;
  padding-bottom: 12px;
  line-height: 1.6rem;
  position: relative;
}
.menu__h2::after {
  content: "";
  width: 40px;
  height: 3px;
  background-color: #99E2D0;
  bottom: 0;
  left: 0;
  position: absolute;
}
.menu__card {
  background-color: #ffffff;
  padding-left: 10px;
  padding-right: 0;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  margin-bottom: 14px;
  overflow: hidden;
  position: relative;
  align-items: stretch;
  animation: cards_emergence 1s both;
}
.menu__card:hover .menu__card__check {
  transform: translate(-59px, 0);
}
.menu__card:hover .menu__card__check i {
  transform: rotate(0deg);
}
.menu__card:hover .menu__card__desc {
  width: calc(100% - 59px - 30px - 24px);
}
.menu__card:hover .menu__card__desc__name {
  width: calc(100% - 59px);
}
.menu__card:hover .menu__card__desc__compos {
  width: calc(100% - 59px);
}
.menu__card:hover .menu__card__prise {
  transform: translate(-59px, 0);
}
.menu__card__desc {
  flex-grow: 2;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-bottom: 8px;
  width: calc(100% - 30px - 24px);
}
.menu__card__desc__name {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 28px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  transition: all 0.4s ease-in-out;
}
.menu__card__desc__compos {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 22px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  transition: all 0.4s ease-in-out;
}
.menu__card__check {
  color: #ffffff;
  background-color: #99E2D0;
  width: 59px;
  margin-right: -59px;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  transition: all 0.4s ease-in-out;
}
.menu__card__check i {
  transition: transform 0.4s ease-in-out;
  transform: rotate(1turn);
}
.menu__card__prise {
  font-size: 1.5rem;
  font-weight: bold;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 24px;
  padding-bottom: 10px;
  width: 30px;
  align-items: flex-end;
  transition: all 0.4s ease-in-out;
}
.menu__card:nth-of-type(1) {
  animation-delay: 0.2s;
}
.menu__card:nth-of-type(2) {
  animation-delay: 0.4s;
}
.menu__card:nth-of-type(3) {
  animation-delay: 0.6s;
}
.menu__card:nth-of-type(4) {
  animation-delay: 0.8s;
}
.menu__card:nth-of-type(5) {
  animation-delay: 1s;
}
.menu__card:nth-of-type(6) {
  animation-delay: 1.2s;
}
.menu__card:nth-of-type(7) {
  animation-delay: 1.4s;
}
.menu__card:nth-of-type(8) {
  animation-delay: 1.6s;
}
.menu__card:nth-of-type(9) {
  animation-delay: 1.8s;
}
.menu__card:nth-of-type(10) {
  animation-delay: 2s;
}

@keyframes cards_emergence {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  100% {
    transform: translate(0, -10px);
    opacity: 1;
  }
}

/*# sourceMappingURL=style.css.map */
