.main_button{
    height: 50px;
    @include bold_font;
    padding-right: 22px;
    padding-left: 22px;
    line-height: 50px;
    margin-top: 24px;
    margin-bottom: 24px;
    border-radius: 25px;
    color: $text_light;
    @include shadow(.3);
    background: linear-gradient(180deg, $second_color 0%, $first_color 100%);
    border: none;
    a{
        color: $text_light;
    }


}