.main_button{
    height: 50px;
    @include bold_font;
    padding-right: 22px;
    padding-left: 22px;
    line-height: 50px;
    margin-top: 24px;
    margin-bottom: 24px;
    border-radius: 25px;
    color: $text_light;
    @include shadow(.3);
    background: linear-gradient(180deg, $second_color 0%, $first_color 100%);
    border: none;
    a{
        color: $text_light;
    }


}

.heart{
    position: absolute;
    @include card_heart_font;
    right: 20px;
    top: 18px;
    padding: 5px;
    display: block;

    &--menu{
        font-size: 2.5rem;
        top: 35px;
    }


    &.like{
        background: linear-gradient(180deg, $first_color 0%, $second_color 100%);
        text-transform: uppercase;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        color: #0B2349;
        opacity: 1;
    }

    &.normal{ 
        color: $text_color;
        opacity: 1;
        background-color: #fff;
        &:hover{
            opacity: 0;
        }
    }
}