html{
    font-family: $main_font;
}

$text_size_mini: .8rem;
$text_size_normal: 1rem;

a{
    text-decoration: none;
    color: $text_color;
    &:active{
        color: lighten($text_color, 30%);
    }
}