html{
    font-family: $main_font;
    font-size: 62.5%;
}

h1, h2{
    font-family: $main_font;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 3rem;
}


@mixin slogan_font{
    font-family: $main_font;
    font-size: 1.8rem;
    font-weight: lighter; 
}


@mixin card_main_font {
    font-size: 1.7rem;
    font-weight: bold;
}

@mixin card_second_font {
    font-size: 1.7rem;
    font-weight: lighter;
}

@mixin normal_font{
    font-size: 1.6rem;
    font-weight:600;
}

@mixin bold_font{
    font-size: 1.6rem;
    font-weight: bold;
}

@mixin hint_font{
    font-size: 1.4rem;
    font-weight: normal;
}


.center_text{
    text-align: center;
}

a{
    text-decoration: none;
    color: $text_color;
    &:active{
        color: lighten($text_color, 30%);
    }
}