html{
    font-family: $main_font;
    font-size: 62.5%;
}

h1, h2{
    font-family: $main_font;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 3rem;
}


@mixin slogan_font{
    font-family: $main_font;
    font-size: 1.8rem;
    font-weight: 400; 
}


@mixin card_main_font {
    font-size: 1.7rem;
    font-weight: bold;
}

@mixin card_second_font {
    font-size: 1.7rem;
    font-weight: 400;
}

@mixin card_heart_font {
    font-size: 2rem;
    
}

@mixin normal_font{
    font-size: 1.6rem;
    font-weight:600;
}

@mixin bold_font{
    font-size: 1.6rem;
    font-weight: bold;
}

@mixin hint_font{
    font-size: 1.4rem;
    font-weight: normal;
}

@mixin menu_h1_font{
    font-size: 3rem;
    font-family: $second_font;
}

@mixin menu_h2_font{
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: normal;
}

@mixin plat_name{
    font-size: 1.8rem;
    font-weight: 600;
}

@mixin plat_desc{
    font-size: 1.5rem;
    font-weight: 400;
}

@mixin plat_prise{
    font-size: 1.5rem;
    font-weight: bold;
}


.center_text{
    text-align: center;
}

a{
    text-decoration: none;
    color: $text_color;
    &:active{
        color: lighten($text_color, 30%);
    }
}