$first_color : #9356DC;
$second_color : #FF79DA;
$third_color : #99E2D0;

$block_bg : #f6f6f6;
$block_bg_hover: #f5edff;
$footer_bg: #353535;



$text_color: #000000;
$text_point_color: #353535;
$text_light: #ffffff;
$bg_light: #ffffff;

$icon_main_color : #7e7e7e;

$main_font : 'Roboto', sans-serif;
$second_font : 'Shrikhand', cursive;

$indent : 20px;

$img_logo : '../img/logo/ohmyfood.png';

$menu_img1 : '../img/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg';