$first_color : #9356DC;
$second_color : #FF79DA;
$third_color : #99E2D0;

$block_bg : #f6f6f6;
$footer_bg: #353535;

$text_color: #000000;
$text_footer_color: #ffffff;

$main_font : 'Roboto', sans-serif;
$second_font : 'Shrikhand', cursive;

$indent : 20px;

$img_resto_1 : '../img/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg';
$img_resto_2 : '../img/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg';
$img_resto_3 : '../img/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg';
$img_resto_4 : '../img/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg';

$img_logo : '../img/logo/ohmyfood.png';